In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('weather_2012.csv')

In [4]:
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
df.tail(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [7]:
original_columns = df.copy()

df.rename(columns={'Date/Time': 'date_time'}, inplace=True)
df.rename(columns={'Temp (C)': 'temp_c'}, inplace=True)
df.rename(columns={'Dew Point Temp (C)': 'dew_point'}, inplace=True)
df.rename(columns={'Rel Hum (%)': 'relative_humidity'}, inplace=True)
df.rename(columns={'Wind Spd (km/h)': 'wind_speed'}, inplace=True)
df.rename(columns={'Visibility (km)': 'visibility'}, inplace=True)
df.rename(columns={'Stn Press (kPa)': 'pressure'}, inplace=True)
df.rename(columns={'Weather': 'weather'}, inplace=True)

In [8]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [9]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [13]:
df['temp_f'] = (df['temp_c'] * 9/5) + 32

In [14]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,temp_f
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,47.836660
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,21.038189
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,-9.940000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,32.180000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,48.740000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,65.840000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,91.400000

In [15]:
df = df[['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']]

In [16]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

In [18]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [19]:
df.info() #now shows as datetime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [20]:
weather_counts = df['weather'].value_counts().head(10)
print(weather_counts)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

In [22]:
df2 = df[(df['temp_f'] > 90) & (df['relative_humidity'] < 50) & (df['dew_point'] > 17) & (df['weather'] == 'Clear')]
print(df2)

               date_time  temp_f  temp_c  dew_point  relative_humidity  \
5199 2012-08-04 15:00:00   91.04    32.8       18.8                 44
5200 2012-08-04 16:00:00   90.50    32.5       18.5                 44
5201 2012-08-04 17:00:00   90.50    32.5       19.8                 47

      wind_speed  visibility  pressure weather
5199          17        24.1    101.39   Clear
5200          15        24.1    101.34   Clear
5201          13        24.1    101.32   Clear

August is the month of the year where the farenheit is more than 90, humidity is less than 50, and dew point is more than 17 witn clear weather

In [23]:
df['month'] = df['date_time'].dt.month

In [26]:
df.sample(5)

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
8088,2012-12-03 00:00:00,46.58,8.1,7.5,96,15,9.7,100.78,"Drizzle,Fog",12
7719,2012-11-17 15:00:00,36.32,2.4,-7.4,48,6,48.3,103.43,Mainly Clear,11
1976,2012-03-23 08:00:00,52.34,11.3,1.8,52,0,48.3,101.93,Clear,3
981,2012-02-10 21:00:00,31.28,-0.4,-4.7,73,13,25.0,100.84,Cloudy,2
1955,2012-03-22 11:00:00,68.72,20.4,11.9,58,15,24.1,101.52,Mainly Clear,3

In [29]:
df.to_csv('weather_2012_new.csv', index=False)

In [30]:
df_check = pd.read_csv('weather_2012_new.csv')
df_check.head(5)

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1